@model MovieFan.Models.Movies

@{
    ViewData["Title"] = "Film";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divDetails">
    <partial name="_Details" />
</div>

<div id="divEdit">
    <partial name="_Edit" />
</div>
<script src="~/js/movieedit.min.js"></script>